body {
    background-color: #EBA1A1;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	height: 50vh;
	width: 100vw;
	
}
.orange {
	background-color: #EECF31;
	width: 50vw;
	height: 80vh;
}
.sliver {
background-color: #5D1313;
width: 50vw;
height: 80vh;
}	
.purple {
	background-color: #13165D;   
	height: 10vh;
    width: 5vw;
    padding: 5px;
}
.blue {
	background-color: #2262D8;
	height: 70vh;
	width: 50vw;
}
.container {
	border: 70px solid red;
	height: 70vh;
	 margin: auto;
    width: 50%;
    padding: 10px;
	
}
